body{
    padding-left:70px;
    padding-right:70px;
    font-size:20px;
}
/*MAIN NAVIGATION*/
img{
    width:50%;
    padding:7px;
}

#img_background{
    width: 100%;
    height:150%;
    display:flex;
    justify-content: center;
}

#asca{
    width: 10%;
    float:left;
    /* padding-right:50%;
    padding-bottom:50%; */
}

.main-navigation{
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color: rgb(166,226,243);
    margin-bottom:1rem;
}

nav{
    display:flex;
    padding-right:10%;
    list-style: none;
    gap:1rem;
    /* border:2px solid red; */
}


.nav-btn{
    text-decoration: none;
    padding:.3rem;
    border-radius: .2em;
    transition:200ms ease-in-out;
}

.nav-btn:hover{
    background-color: antiquewhite;
    font-size: 25px;
}

/*MAIN PAGE */
.main-left{
    border-radius: .4rem;
    float:left;
    width:45%;
    height:20rem;
    padding:7px;
    margin-left:.5rem;
    display:flex;
    flex-direction: column;
}

.main-text-left{
    margin-top:1rem;
    background-color: rgb(166,226,243);
    border-radius: .4rem;
    display:flex;
    flex-direction:column;
    padding:1rem;
    line-height: 2rem;
}

button{
    width:34%;
    align-self:center;
}

.main-text-left button{
    
}

.display-block{
    display:block;
}

.title-span{
    color:blue;
}


.main-right{
    border-radius: .4rem;
    margin-left:1rem;
    width:20%;
    height:20rem;
    padding:7px;    
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    /* background-color: rgb(166,226,243); */
}

button{
    background-color: #47B4ED;
    transition: 300ms;
    width:50%;
    border-radius:1.5rem;
}

button:hover{
    background-color: #026ea7;
    color:white;
}

#circle{
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width:0%;
    height:0%;
    border: .01rem solid whitesmoke;
    transition:1000ms ease-in-out;
}

.main-right:hover #circle{
    width:30%;
    height:30%;
    border-radius:30rem;
    transform:rotate(360deg);
    border: .5rem solid #47B4ED;
}


.main-right:hover #circle::after{
    content:"99%";
}

.right-text{
    padding-left:1rem;
    padding-top:2rem;
    width:80%;
    text-align:center;
}